html,
body {
  background-color: #c0d7bb;
  color: #2f4b26;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#profile-pic {
  border-radius: 50%;
  width: 250px;
  transition: 0.2s ease-in-out all;
}

#profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerSection {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #85bda6;
  border-radius: 1rem;
  max-width: 80%;
  justify-content: center;
  padding: 10px;
}

.introSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile-div {
  margin: 10px;
}

#intro-div {
  float: right;
}

/* ------------mobile--------------  */
@media only screen and (max-width: 480px) {
  .headerSection {
    box-shadow: -10px 10px 30px #9f9f9f;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 95%;
  }
}
