html,
body {
  background-color: #212529;
  color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-body-tertiary {
  background-color: #5c27ab !important;
}

#profile-pic {
  border-radius: 50%;
  width: 250px;
  transition: 0.2s ease-in-out all;
}

#profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem white;
}

.headerSection {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #4f5861;
  border-radius: 1rem;
}

.introSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile-div {
  margin: 10px;
}

#intro-div {
  margin-left: 30px;
}

#education-section {
  margin-left: 30px;
}

#job-section {
  margin-bottom: 30px;
  margin-left: 30px;
}

#jobImg {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}
